<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="[ '/' ]" routerLinkActive="active">Bresser - Vendedores</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" *ngIf="userservice.Usuario != null">
          <a class="nav-link">Bienvenido {{userservice.Usuario.Nombre}}<span class="sr-only"></span></a>
        </li>
        <li class="nav-item active" *ngIf="userservice.Usuario != null">
          <a class="nav-link" [routerLink]="[ '/propiedades' ]">Propiedades<span class="sr-only"></span></a>
        </li>
        <li class="nav-item active" *ngIf="userservice.Usuario != null">
          <a class="nav-link" [routerLink]="[ '/propiedades/nueva' ]">Nueva propiedad<span class="sr-only"></span></a>
        </li>
        <li class="nav-item active" *ngIf="userservice.Usuario != null">
          <a class="nav-link" [routerLink]="[ '/registro' ]">Nuevo agente<span class="sr-only"></span></a>
        </li>
        <!-- AGREGA CODIGO DE VENTANAS -->
        
        <li class="nav-item dropdown" *ngIf="userservice.Usuario != null">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Mi cuenta
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <button (click)="logout()" class="dropdown-item">Cerrar sesión</button>
          </div>
        </li>
        <li class="nav-item" *ngIf="userservice.Usuario == null">
          <a class="nav-link" [routerLink]="[ '/IniciarSesion' ]" routerLinkActive="active">Inicia sesión</a>
        </li>
      </ul>
    </div>
  </nav>
  