<div align=center>
    <div>
        <h2>Titulo</h2>
        <input type="text" name="" id="titulo" placeholder="titulo"  [(ngModel)]="titulo">
        <br>
        <br>
    </div>
    <div>
        <h2>Descripción</h2>
        <textarea name="descripcion" id="descripcion" cols="30" rows="10" [(ngModel)]="descripcion"></textarea>
        <br>
        <br>
    </div>
    <div>
        <h2>Precio</h2>
        <input type="number" name="" id="precio" placeholder="precio" [(ngModel)]="precio" >
        <br>
        <br>
    </div>
    <div>
        <h2>Direccion</h2>
        <input type="text" #direccionn name="" id="direccion" placeholder="direccion"  [(ngModel)]="direccion">
        <br>
        <br>
    </div>
    <div>
        <h2>Codigo Postal</h2>
        <input type="text" name="" id="cp1" placeholder="Codigo postal" [(ngModel)]="cp">
        <br>
        <br>
    </div>

</div>
<div class="m-10">
    <agm-map 
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="zoom"
    [disableDefaultUI]="false"
    [zoomControl]="false"
    (mapClick)="mapClicked($event)">
  
    <agm-marker 
        *ngFor="let m of markers; let i = index"
        (markerClick)="clickedMarker(m.label, i)"
        [latitude]="m.lat"
        [longitude]="m.lng"
        [label]="m.label"
        [markerDraggable]="m.draggable"
        (dragEnd)="markerDragEnd(m, $event)">
        
      <agm-info-window>
        <strong>InfoWindow content</strong>
      </agm-info-window>
      
    </agm-marker>
    
  
  </agm-map>
</div>

<div class="justify-content-center d-flex m-5">
    <button class="btn btn-primary" (click)="registrar()">Registrar</button>
</div>
